/* Coolors Exported Palette - coolors.co/ef3e36-17bebb-2e282a-edb88b-fad8d6 */

/* RGB */
$red: rgba(239, 62, 54, 1);
/* ef3e36 */
$blue: rgba(23, 190, 187, 1);
/* 17bebb */
$brown: rgba(46, 40, 42, 1);
/* 2e282a */
$pink: rgba(237, 184, 139, 1);
/* edb88b */
$pinker: rgba(250, 216, 214, 1);
/* fad8d6 */